<.header>
  Edit Accounts <%= @accounts.id %>
  <:subtitle>Use this form to manage accounts records in your database.</:subtitle>
</.header>

<.accounts_form changeset={@changeset} action={~p"/accounts/#{@accounts}"} />

<.back navigate={~p"/accounts"}>Back to accounts</.back>
